*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    align-items: center;
    background: black;
    color: rgb(0, 0, 0);

}
h1{
    margin-top: 20vw;
    position: relative;
    font-size: 3vw;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 90vw;
    padding-left: 15vw;
    overflow: hidden;
    margin-left: -130vw;
}
h1 .box{
    margin-top: 500vw;
    position: absolute;
    bottom: 0;
    display: inline-block;
    background-color: #37115a;
   
    width: 1000vw;
    height: 10vw;
    z-index: -1 ;
}
h1 .hi{
    display: inline-block;
}
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  p{
    width: 130vw;
    color: #44D62C;
    background-color: #44D62C;
    margin-top: -12vw;
    height: 5vw;
  }
  button{
    background-color: blue;
    border-color: blue;
    border-radius: 0vw;
    color: #f0f8ff;
    width: 10vw;
    height: 3vw;
    margin-top: -7vw;
  }